<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <p>
      Title: <%= name %>
  </p>

  <iframe width="800" height="600" src="https://www.youtube.com/embed/_c4rJHhc580" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <p>


      Title: CR7 Crazy Goal Vs. Spain
  </p>

  <iframe width="800" height="600" src="https://www.youtube.com/embed/Yb-bwKZOeeQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <%- include("./partials/footer.ejs") %>
</body>
</html>